<div class="header">
    <h1>¿Quieres saber qué hora es justo ahora en los Alpes Suizos?</h1>
</div>

<p>aqui va air barra busqueda</p>

<section>
    <h2>Algunas consultas populares</h2>
    <div class="grid-horas">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="banderas/mex.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desde Mexico</h5>
                    <p class="card-text">10:00 am</p>
                </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="banderas/arg.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desde Argentina</h5>
                    <p class="card-text">10:00 am</p>
                </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="banderas/chile.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desde Chile</h5>
                    <p class="card-text">10:00 am</p>
                </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="banderas/col.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desde Colombia</h5>
                    <p class="card-text">10:00 am</p>
                </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="banderas/peru.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desde Peru</h5>
                    <p class="card-text">10:00 am</p>
                </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="banderas/ven.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desde Venezuela</h5>
                    <p class="card-text">10:00 am</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>