<div class="cont">
    <mat-icon>person</mat-icon>

    <h5>Inicia sesion</h5>

    <mat-form-field>
        <mat-label class="label-custom">Nombre completo</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field>
        <mat-label class="label-custom">Nombre de usuario</mat-label>
        <input matInput required>
    </mat-form-field>

    <mat-form-field>
        <mat-label class="label-custom">Contraseña</mat-label>
        <input matInput type="password" required="">
    </mat-form-field>

    <button mat-flat-button class="button">Ingresar</button>
</div>