<div class="descripcion">
    <h1>Sobre el sitio web</h1>
    <p>Este sitio fue desarrollado utilizando Angular como framework principal, 
    haciendo uso de TypeScript para estructurar la lógica del lado del cliente, 
    y HTML junto con CSS para construir y diseñar la interfaz de usuario.
    Es importante mencionar que este proyecto abarca por el momento solo la parte del frontend.
    </p>

    <div class="imgs">
        <img src="angularLogo.png" alt="...">
        <img src="htmlLogo.png" alt="...">
        <img src="cssLogo.png" alt="...">
        <img src="typescriptLogo.png" alt="...">
    </div>
    <p>Proyecto escolar para la materia de Tecnologías Web</p>
    <p>impartida por la maestra Georgina Salazar Partida</p>
    <p>Universidad Autonoma de Aguascalientes</p>
</div>

<div class="devs-info">
    <h1>Developers</h1>
    <div class="devs-img">
        <a [routerLink]="['/dev', 350426]">
            <img [src]="imgRafa">
        </a>
        <a [routerLink]="['/dev', 347948]">
            <img [src]="imgCami">
        </a>
    </div>
</div>