@if (dev) {
  <div class="dev-detalles">
    <img [src]="dev.imagen" alt="..." id="dev">
    <div class="info">
        <h2>{{dev.nom}}</h2>
        <p>Estudiante de ISC de 6to semestre
        en la Universidad Autonoma de Aguascalientes.
        </p>
        <div class="frase">
          <p>Frase favorita:<br>{{dev.frase}}</p>
        </div>
        <div class="lenguajes">
            <h2>Habilidades</h2>
            <div class="imgs">
                <img src="cLogo.png" alt="">
                <img src="c++Logo.png" alt="">
                <img src="asmLogo.jpg" alt="">
                <img src="javaLogo.png" alt="">
                <img src="htmlLogo.png" alt="...">
                <img src="cssLogo.png" alt="...">
                <img src="jsLogo.png" alt="">
                <img src="angularLogo.png" alt="...">
                <img src="typescriptLogo.png" alt="...">
            </div>
        </div>
    </div>
  </div>
}