.links{
    display: flex;
    gap: 30px;
    justify-content: right;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.links a span{
    display: inline-block;
}

.links a span,
.links a svg{
    transition: transform 0.3s ease, color 0.3s ease;
}

.links a:hover span,
.links a:hover svg{
    color: #27667B;
    transform: scale(1.1);
}

.btn-reservar{
    background-color: #27667B;
    color: white;
    padding: 5px;
    width: 110px;
}

.btn-reservar:hover{
    background-color: #A0C878;
}