#servicios{
    font-family: "Montserrat", sans-serif !important;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {  
    text-align: center;
    font-family: "Montserrat", sans-serif !important;
    font-size: 32px;
    margin-bottom: 10px;
    color: #27667B; 
  }
  .card-horizontal {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .card-icon svg {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    color: #27667B; 
  }
  