.texto{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#contenedor{
    width: 100%;
    position: relative;
    padding: 10px;
}

#contenedor .carousel,
.carousel-inner{
    position: relative;
}

.carousel-item img{
    border-radius: 10px;
    max-height: 500px;
    width: auto;
}